body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  min-height: 75vh;
}

button, input[type="button"], input[type="submit"] { 
  border-radius: 8px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #0d6efd; 
  color: white;
  border: none;
  margin: 1px;
  margin-bottom: 2px;


} 

button:hover { 
  background-color: #083d8e; 

} 

@media (max-width: 700px) {
  .body{
    max-width: 100%;
    overflow-x: hidden;
  }
}